html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Arial;
}

#shopInfo{
	margin: auto;
	margin-top: 5px;
	font-size: 18px;
	width: 50%;
	border-spacing: 15px;
	word-break: break-word;
}

#firstColumn{
	min-width: 100px;
}

#secondColumn{
	width: 45%;
	min-width: 200px;
}

#heading{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: green;
	line-height: 50px;
}

#additionalHeading{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: green;
	line-height: 50px;
}

#submitRow{
	text-align: center;
}

#submit{
	width: 70%;
	background-color: #4CAF50;
	color: white;
	padding: 10px 12px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
}

#submit:hover{
	background-color: #45a049;
}

#backRow{
	text-align: center;
	line-height: 50px;
}

#backLink{
	text-decoration: none;
}

#backLink:hover{
	font-weight: bold;
}

#bottomSpace{
	margin-top: 100px;
}