html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Arial;
}

#bigLogoTable{
	margin: auto;
	margin-top: 5px;
}

#bigLogo{
	width: 150px;
	height: 150px;
}

#recoverTable{
	margin: auto;
	margin-top: -10px;
	font-size: 18px;
	min-width: 500px;
	width: 40%;
	border-spacing: 15px;
}

#messageNeg{
	text-align: center;
	color: red;
}

#heading{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: green;
	line-height: 50px;
}

#secondColumn{
	width: 250px;
}

#emailID{
	color: #C20FC7;
	font-weight: bold;
}

input[type=email],input[type=password]{
	padding: 0px 15px;
	width: 250px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 18px;
}

input[type=email]:focus,input[type=password]:focus{
	border-color: blue;
	background-color: #F3F8A7;
}

#backRow{
	text-align: center;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#backLink{
	text-decoration: none;
}

#backLink:hover{
	font-weight: bold;
}

#submitRow{
	text-align: center;
}

#submit{
	width: 70%;
	background-color: #4CAF50;
	color: white;
	padding: 10px 12px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
}

#submit:hover{
	background-color: #45a049;
}